{% extends "base.html" %}
{% block content %}
<main class="main">
  <div class="hero">
    <div class="hero-avatar" aria-hidden="true">🌿</div>
    <div>
      <div class="hero-title">Excel Processor</div>
      <div class="hero-sub">Upload an excel, with the preconfigured format to predict its values.</div>
      <div class="black-line"></div>
      <br>
      <span> Tags:</span>
      <br>
      <span class="tag">XGBoost</span>
      <span class="tag">Feature Importance</span>
      <span class="tag">KNN</span>
      <span class="tag">Similar Property Finder</span>
      <span class="tag">ExAi</span>
      <span class="tag">Shap</span>
    </div>
  </div>

  <div class="section-title"><strong>Upload Asset</strong></div>
  
  
  
</main>

{% endblock %}